<h2>Begin Questionnaire</h2>
<div class="col-sm-12">
    <div class="row mt-4">
        <div class="col-sm-6">
            <h4>{{questionnaire.title}}</h4>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-sm-8">
            {{questionnaire.description}}
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-sm-8"><b>From:</b> {{questionnaire.begining | date: 'yyyy-MM-dd hh:mm'}} - <b>To:</b> {{questionnaire.finish | date: 'yyyy-MM-dd hh:mm'}}</div>
    </div>
    <div class="row mt-4">
        <div class="col-sm-6"><b>Questions:</b> {{questionnaire.questions}}</div>
        <div class="col-sm-6" *ngIf="questionnaire.limited"><b>Time Limit:</b> {{questionnaire.timeLimit}}</div>
    </div>
    <div class="row mt-4">
        <a class="btn btn-success col-sm-8" (click)="begin()">Begin</a>
    </div>
    <div class="row mt-4">
        <app-alert id="alert-1" class="col-sm-8"></app-alert>
    </div>
</div>