<h2>Home</h2>
<div class="row">
    <div class="col-sm-12">
        <h4 class="mt-3">Welcome to Questionnaire.Api!</h4>
        <p class="mt-3">Please first login or register to use Questionnaire.Api!</p>
        <ul>
            <li>To see the groups you joined go to <a [routerLink]="['/group']">Groups</a>.</li>
            <li>To see the groups you created go to <a [routerLink]="['/group/list']">My Groups</a>.</li>
            <li>To see your invitations go to <a [routerLink]="['/invitation']">Invitations</a>.</li>
        </ul>
    </div>
</div>
