<h2>Answer Details</h2>
<div class="row mt-4">
    <div class="col-sm-12">
        <dl class="row mt-4">
            <dt class="col-sm-2">Name:</dt>
            <dd class="col-sm-4">{{answer.name}}</dd>
            <dt class="col-sm-2">Concrete Answer:</dt>
            <dd class="col-sm-4">{{answer.userAnswer}}</dd>
            <dt class="col-sm-2">Answer Type</dt>
            <dd class="col-sm-4">{{AnswerTypes[answer.type]}}</dd>
            <dt class="col-sm-2">Points:</dt>
            <dd class="col-sm-4">{{answer.value}}</dd>
        </dl>
        <div class="row mt-3">
            <a class="btn btn-outline-primary offset-6 col-sm-1" [routerLink]="['/group/answer/edit', answer.id]">Edit</a>
        </div>
    </div>
</div>