/* You can add global styles to this file, and also import other style files */
@import "~bootstrap-icons/font/bootstrap-icons.css";
/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

body {
  background-color: aliceblue;
}

th[sortable] {
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
}

th[sortable].desc:after {
  content: '';
  display: block;
  background: url('assets/arrow-down.svg') no-repeat;
  background-size: contain;
  width: 20px;
  height: 20px;
  float: right;
  margin-left: -20px;
}

th[sortable].asc:after {
  content: '';
  display: block;
  background: url('assets/arrow-up.svg') no-repeat;
  background-size: contain;
  width: 20px;
  height: 20px;
  float: right;
  margin-left: -20px;
}

/*th[sortable].desc:before {
  transform: rotate(180deg);
  -ms-transform: rotate(180deg);
}*/