<h2>Create Questionnaire</h2>
<form [formGroup]="questionnaireForm" (ngSubmit)="onSubmit()" class="mt-4" >
    <div class="form-row">
        <div class="form-group col-sm-6">
            <label for="title">Questionnaire title:</label>
            <input type="text" formControlName="title" class="form-control" [ngClass]="{ 'is-invalid': submitted && form.title.errors }" />
            <div *ngIf="submitted && form.title.errors" class="invalid-feedback">
                <div *ngIf="form.title.errors.required">Questionnaire title is required</div>
            </div>
        </div>
    </div>
    <div class="form-row mt-3">
        <div class="form-group col-sm-6">
            <label for="description">Description:</label>
            <textarea formControlName="description" class="form-control text-area" [ngClass]="{ 'is-invalid': submitted && form.description.errors }" ></textarea>
            <div *ngIf="submitted && form.description.errors" class="invalid-feedback">
                <div *ngIf="form.description.errors.required">Description is required</div>
            </div>
        </div>
    </div>
    <div class="form-row mt-3">
        <div class="form-group col-sm-3">
            <label for="begining">Begining:</label>
            <input type="datetime-local" formControlName="begining" class="form-control" [ngClass]="{ 'is-invalid': submitted && form.begining.errors }" />
            <div *ngIf="submitted && form.begining.errors" class="invalid-feedback">
                <div *ngIf="form.begining.errors.required">Begining is required</div>
            </div>
        </div>
        <div class="form-group col-sm-3">
            <label for="finish">Finish:</label>
            <input type="datetime-local" formControlName="finish" class="form-control" [ngClass]="{ 'is-invalid': submitted && form.finish.errors }" />
            <div *ngIf="submitted && form.finish.errors" class="invalid-feedback">
                <div *ngIf="form.finish.errors.required">Finish is required</div>
            </div>
        </div>
    </div>
    <div class="form-row mt-3" *ngIf="form.limited.value">
        <div class="form-group col-sm-3">
            <label for="timeLimit">Time Limit(minute):</label>
            <input type="number" formControlName="timeLimit" class="form-control" [ngClass]="{ 'is-invalid': submitted && form.timeLimit.errors }" />
            <div *ngIf="submitted && form.timeLimit.errors" class="invalid-feedback">
                <div *ngIf="form.timeLimit.errors.min">Time Limit is minimum 1 minute</div>
            </div>
        </div>
    </div>
    <div class="form-row mt-3">
        <div class="form-check col-sm-3 ml-4">
            <input type="checkbox" formControlName="limited" class="form-check-input" [ngClass]="{ 'is-invalid': submitted }" />
            <label for="limited" class="form-check-label">Questionnaire is time limited</label>
        </div>
    </div>
    <div class="form-row mt-3">
        <div class="form-check col-sm-3 ml-4">
            <input type="checkbox" formControlName="visibleToGroup" class="form-check-input" [ngClass]="{ 'is-invalid': submitted }" />
            <label for="visibleToGroup" class="form-check-label">Visible to group</label>
        </div>
    </div>
    <div class="form-row mt-3">
        <div class="form-check col-sm-3 ml-4">
            <input type="checkbox" formControlName="randomQuestionOrder" class="form-check-input" [ngClass]="{ 'is-invalid': submitted }" />
            <label for="randomQuestionOrder" class="form-check-label">Question order is random</label>
        </div>
    </div>
    <div class="form-group mt-3">
        <button [disabled]="loading" class="btn btn-primary">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Save
        </button>
        <a routerLink="/group" class="btn btn-link">Cancle</a>
    </div>
    <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
</form>