<h2>Invitations</h2>
<table class="table table-striped mt-3">
  <caption>Total invitations: {{total}}</caption>
    <thead>
      <tr>
        <th scope="col" sortable="groupName" (sort)="onSort($event)">Group Name</th>
        <th scope="col" sortable="groupCreated" (sort)="onSort($event)">Group Created</th>
        <th scope="col" sortable="date" (sort)="onSort($event)">Date</th>
        <th scope="col" sortable="adminName" (sort)="onSort($event)">Administrator</th>
        <th scope="col">Status</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let invitation of invitations">
        <td>{{invitation.groupName}}</td>
        <td>{{invitation.groupCreated | date: 'yyyy-MM-dd'}}</td>
        <td>{{invitation.date | date: 'yyyy-MM-dd'}}</td>
        <td>{{invitation.adminName}}</td>
        <td>{{Invitations[invitation.status]}}</td>
        <td>
          <button class="btn btn-success" *ngIf="invitation.status === 0" (click)='accept(invitation.id)'>Accept</button>
          <button class="btn btn-danger" *ngIf="invitation.status === 0" (click)='decline(invitation.id)'>Decline</button>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td scope="col"><a class="btn btn-success" [routerLink]="['/invitation/add']">Create</a></td>
      </tr>
    </tfoot>
  </table>
  <div class="d-flex justify-content-left">
    <ngb-pagination
      [collectionSize]="total" [(page)]="page" [pageSize]="pageSize" (pageChange)="refressInvitations()">
    </ngb-pagination>

    <select class="custom-select ml-2" style="width: auto" name="pageSize" [(ngModel)]="pageSize" (ngModelChange)="refressInvitations()">
      <option [ngValue]="2">2 items per page</option>
      <option [ngValue]="4">4 items per page</option>
      <option [ngValue]="10">10 items per page</option>
    </select>
  </div>